.container_documento{
  /*  background: blue;*/
    overflow: scroll;
    overflow-x: auto;
    overflow-y:auto;
}

.scroll1::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll1::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  .scroll1::-webkit-scrollbar-thumb {
    background: #123859; 
  }


#container_documento_titulo {
 /*   background: red; */
    height: 10%;
    display: flex;
}

#container_documento_popular{
  /*  background: green;*/
    height: 60%;
}
#container_documento_popular_titulo , #container_documento_otros_titulo{
    display: flex;
}

#container_documento_popular_contenido {
    display: grid;
    height: 85%;
    grid-template-areas: "container_documnento_item container_documnento_item container_documnento_item container_documnento_item"
                        "container_documnento_item container_documnento_item container_documnento_item container_documnento_item";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container_documnento_item{
    /*background: purple;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-color:  #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#container_documento_otros{
   /* background: yellow;*/
    height: 100%;
}


#container_documento_otros_contenido {
    display: grid;
    height: 85%;
    grid-template-areas: "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
                        "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
                        "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
                        "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container_documnento_otros_item{
    /*background: rgb(250, 59, 250);*/
    height: 100%;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color:  #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.container_documento_icono{
    height: 30px;
    width: 30px;
}

/*.click_documento{
    border-color:  #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}*/