.container_documento,
.container_reporte {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

.scroll1::-webkit-scrollbar {
  width: 5px;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background: #26a66a;
}

#container_documento_titulo {
  height: 80px;
  display: flex;
}

#container_documento_popular {
  height: 60%;
  width: 98%;
  font-size: 18px;
}
#container_documento_popular_titulo,
#container_documento_otros_titulo {
  display: flex;
}

#container_documento_popular_contenido {
  display: grid;
  height: 85%;
  grid-template-areas:
    "container_documnento_item container_documnento_item container_documnento_item container_documnento_item"
    "container_documnento_item container_documnento_item container_documnento_item container_documnento_item";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  margin-left: 5px;
}

.container_documnento_item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px #9999;
}

#container_documento_otros {
  height: 100%;
  width: 98%;
}

#container_documento_otros_contenido {
  display: grid;
  height: 100%;
  grid-template-areas:
    "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
    "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
    "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item"
    "container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item container_documnento_otros_item";
  grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  margin-left: 5px;
}

.container_documnento_otros_item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px #9999;
}

.container_documento_icono {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 620px) {
  #container_documento_popular_contenido {
    display: grid;
    grid-template-areas:
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item ";

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
  }

  #container_documento_otros_contenido {
    display: grid;
    grid-template-areas:
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item "
      "container_documnento_otros_item ";

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
  }
}
.title_content {
  font-size: 28px;
  margin-left: 5px;
}

.subtitle_content {
  font-size: 18px;
  margin-left: 5px;
}
