<div class="container_reporte scroll1">
    <div class="container_reporte_content">
        <div class="container_report_content_head">
                <div class="item_format">
                    <h3>Documentos</h3>
                </div>
                <div class="item_format">
                    <a class="home_document" href="#">Inicio</a> <a href="#">/ Tops</a>
                </div>
        </div>
        <div class="container_report_content_body">
            <table id="topsTableNuevo" class="styled-table">
                <thead>
                    <tr class="active-row">
                        <th>ID</th>
                        <th width="90px">Reportado por</th>
                        <th>Proyecto</th>
                        <th>Área</th>
                        <th>Ubicación</th>
                        <th>Área Observada</th>
                        <th>Puesto del observado</th>
                        <th>Tiempo en el proyecto</th>
                        <th>Horario </th>
                        <th>Rango de edad</th>
                        <th>Fecha</th>
                        <th>Registro</th>
                        <th>Tipo de Observación</th>
                        <th>Detalle del Tipo de Observación</th>
                        <th>Relacionado con</th>
                        <th>Otros</th>
                        <th>Tipo de Epp</th>
                        <th>Condición del epp</th>
                        <th class="font_title_big">Descripción de la Observación Acto o condición/Casi Accidente</th>
                        <th class="font_title_big">Acción Inmediata (correctiva)/Que medidas correctivas se tomaron para
                            eliminar el acto o condición sub estandar</th>
                        <th>Potencial del Riesgo</th>
                        <th class="font_title_big">Evidencia de la observación/caso accidente encontrado(registro,imagen o
                            foto,otros)</th>
                        <th>Lesión</th>
                        <th>Obstaculo</th>
                        <th>Cambio observado</th>
                        <th>Retroalimentación </th>
                        <th>Reincidente</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    ${list}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container_reporte_sucess">
    </div>
    <div class="container_reporte_load">
    </div>
</div>