.contenidoAccion{

    background-color: white;
    width: 100%;
    height: auto;
}



.contenidoDocumento{

    background-color:white;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;

}

.contenidoRepuesta{

    border: 5px solid white;
    border-radius: .5em;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenidoRepuestaStart{

    border: 5px solid white;
    border-radius: .5em;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.contenidoExitoStart{

    border: 5px solid white;
    border-radius: .5em;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.contenidoCabecera ,.archivosCargados {

    border: 5px solid white;
    border-radius: .5em;
    padding: 5px;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}



button{
    width: 20%;
    height: 60px;
    font-size: 16px;
    margin: 5px;
    background-color: #123859;
    color: white;
    border: 1px solid #123859;
    border-radius: 5px;
}


.subirArchivos{
    width: 10%;
    height: 60px;
    font-size: 16px;
    margin: 5px;
    background-color: white;
    color: #123859;
    border: 1px solid #123859;
    border-radius: 5px;
    cursor: grab;
  }

img{
    height: 30px;
    width: 30px;
}


.load {
    display: flex;
    justify-content: center;
    height: 200px;
}



#loadProceso{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

th{
    text-align: center;
}



.accordion {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}

#descargarContenido{
    height: 120px;
    width: 120px;
}



@media screen and (max-width: 600px) {

    button{
        width: 50%;
    }

    .subirArchivos{
        width: 50%;
      }
}