.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 50%;
    height: 500px;
    z-index: 2;
    /*text-align: center;
    padding: 20px;*/
    padding-top: 20px;
    /*  box-sizing: border-box;*/
    overflow-y: scroll;
}

.popup .close-btn {
    cursor: pointer;
    position: relative;
    left: 95%;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in;
    transform: translate(-50%, -50%) scale(1);
}

.imgPreview {
    width: 80px;
    height: 80px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #1989FF;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    align-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.center.pop-div {
    margin-bottom: 50px;
}




.content-move{
    margin: 32px;
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.boxPopup{
    margin-bottom: 64px;
}

#hallazgo{
    width: 100px;
    height: 100px;
}

.fotoEvidencia{
    width: 100px;
    height: 100px;
}

.fotoEvidencia2{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.greenEstado{
    background:#68BF50;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

.redEstado{
    background: #F23041;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

.yellowEstado{
    background: #F2CB05;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}


.contenidoRepuesta{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

.clickPopup-close{
    width: 15px;
    height: 15px;
}

.titulo-capacitacion{
    color: white;
}