* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.wrap {
    width: 100%;
    font-size: 18px;
}

ul.tabs {
    width: 100%;
    list-style: none;
    display: flex;
    color: #1989FF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.tabs li {
    width: 18%;
}

ul.tabs li a {
    color: #353839;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 20px 0px;
    border-radius: 10px;
}

.active {
    background: #C5C7C4;
}

ul.tabs li a .tab-text {
    margin-left: 8px;
}

.secciones {
    width: 100%;
    background: #fff;

}



.secciones article {
    padding-right: 5%;
}

.secciones article p {
    text-align: justify;
}


.styled-table {
    border-collapse: collapse;
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #123859;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    /*/font-weight: bold;*/
    color: #353839;
}

.url {
    color: #353839;
}

.center {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 80px;
}

.reload {
    background: white;
    border-color: white;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.imagen-reload {
    height: 15px;
    width: 15px;
}

.bandeja {
    /*   background: #CFEEFA;*/
    color: #1989FF;
    padding: 0px;
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    right: 50px;
}

.ver-pdf {
    text-decoration: none;
    padding: 5px;
    background: #16d45f;
    color: white;
    border-radius: 10px;
}

.exito{
    
    background-color: #b5f7bd;
    color: #16d45f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    size: 20px;

}

.customizeTable {
    border: 1px solid black;
}

  .custometable {
    width: 100%;
    border-collapse: collapse;
  }

  .archivosCargados{
      padding-top: 20px;
      padding-bottom: 20px;
  }


  /*.evidencia{
      width: 400px;
      height: 300px;
  }*/

  .font_title_big{
      font-size: 12px;
  }

  
  .greenEstado{
    background:#68BF50;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

.redEstado{
    background: #F23041;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

.yellowEstado{
    background: #F2CB05;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
}

@media screen and (max-width: 600px) {
    ul.tabs li {
        width: 40%;
    }
    ul.tabs li a {
        padding: 15px 0px;
    }
    .secciones article {
        padding: 10px;
    }
    .div-table {
        padding-top: 150px;
        width: 100%;
    }
    .styled-table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

}