.circle
{
    width:50px;
    height:50px;
    border-radius:25px;
    font-size:20px;
    color:#F24822 ;
    line-height: 25px;
    text-align:center;
    background: rgba(242, 72, 34, 0.1);
    display: flex;
    align-items: center;   
    justify-content: center;
    
 
}

#header_usuario_datos{
    padding-left: 40px;
}

#header_usuario_apellido{
    font-weight: bold;
    color: #707070;
}

#header_usuario_cargo{
    color: #707070;
}

#header_buscador_menu{
    height: 30px;
    width: 30px;
    margin-top: 15%;
    margin-left: 15%;
    
}