body {
  font-family: "Raleway", sans-serif;
}

.sidebar .sidebar__menu {
  width: 150px;
  height: 100%;
}
.sidebar .sidebar__menu div {
  /* position: relative; */
  height: 40px;
  width: 100%;
  /* font-weight: 600; */
  font-size: 16px;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
  /* padding-top: 5px; */
}

.sidebar .sidebar__menu div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar .sidebar__menu div:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background: #222;
  left: -100%;
  transform: translateY(-50%) rotate(45deg);
}

.sidebar .sidebar__menu div.active {
  color: white;
  background: rgba(255, 255, 255, 0.5);
}

.sidebar .sidebar__menu div.active:before {
  left: 0px;
  width: 0px;
  transition: all 300ms ease-in-out;
}

.sidebar .sidebar__menu div.active:after {
  left: calc(100%- 15px);
  transition: all 200ms ease-in-out 300ms;
}

.sidebar .tab-body {
  margin: 0 auto;
  transition: all 500ms ease-in-out;
}

.sidebar .tab-body > div {
  width: 400px;
  height: 100vh;
  padding: 40vh 0px;
}

.sidebar .tab-body > div {
  font-size: 16px;
  margin-bottom: 10px;
  color: #707070;
}

.sidebar__title {
  display: flex;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
  width: 70%;
}

.sidebar_box_close {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 60px;
}

.sidebar__img p {
  width: 200px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.space-between {
  padding-right: 10px;
}
