<div>
    <table class="tablaConBordes w100p">
        <tbody>
            <tr>
                <td class="w25p">
                    <p class="item_format">(1) 01 Yodopovidona espuma al 8.5% x 60 ml</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(9) 02 Guantes de Examen 7 1/2</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(1) 01 Alcohol de 70%  de 60 ml</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(9) 02 sales de rehidratación Oral</p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p class="item_format">(2) 01 Agua Oxigenada 10 Vol x 60 ml</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(10) 02 Sales de Rehidratación Oral</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(2) 01 Agua Oxigenada 10 Vol x 60 ml</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(10) 05 Paletas baja lenguas</p>
                </td>
            </tr>


            <tr>
                <td class="w25p">
                    <p class="item_format">(3) 01 Alcohol 70° x 60 ml</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(11)  02 Gasas parafinadas (Jelonet)</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(3) 01 Algodón por 25 gr.</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(11)  02 Venda Elástica 4 x 5 yardas</p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p class="item_format">(4) 01 Algodón x 25 gr.</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(12) 02 Venda Elástica 8 x 5 yardas</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(4)  03 Gasas esteriles 10 x 10 (paquete)</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(12) 01 Tijera punta roma (para cortar prendas)</p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p class="item_format">(5) 02 Apositos de Gasa Esteril 10 x 20cm</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(13) 5 Paletas Bajalenguas</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(5)  10 Bandas adhesivas o curitas</p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
            </tr>
            <tr>
                <td class="w25p">
                    <p class="item_format">(6) 10 Venditas (curitas)</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(14)  01 Tijera Punta Roma (Atraumática)</p>
                </td>
                <td class="w25p">
                    <p class="item_format">(6)  01 Esparadrapo de 5 x 4.5 mts</p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p class="item_format">(7) 01 Esparadrapo 5 x 4.5 mts.</p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
                <td class="w25p">
                    <p class="item_format">(7) 02  Apositos de Gasa Esteril 10 x 20cm</p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p class="item_format"> (8)  02 gasas esteriles fraccionadas 10 x 10 </p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
                <td class="w25p">
                    <p class="item_format"> (8) 02 Pares de guantes quirurgicos 7 1/2</p>
                </td>
                <td class="w25p">
                    <p class="item_format"></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

