<div>
    <table class="tablaConBordes w100p">
        <tbody>
            <tr>
                <td class="w25p">
                    <p>(1) 05 Parche Ocular</p>
                </td>
                <td class="w25p">
                    <p>(11) 02 Guantes de Examen 7 1/2</p>
                </td>
                <td class="w25p">
                    <p>(1) 01 Alcohol de 70% de 120 ml</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(2) 01 Cabestrillo talla M</p>
                </td>
                <td class="w25p">
                    <p>(12) 04 Guantes de Nitrilo</p>
                </td>
                <td class="w25p">
                    <p>(2) 01 Jabon desinfectante LIQUIDO</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(3) 01 Alcohol 70° x 120 ml</p>
                </td>
                <td class="w25p">
                    <p>(13) 01 Tijera de trauma punta roma de 3 pulgadas</p>
                </td>
                <td class="w25p">
                    <p>(3) 01 Algodón por 25 gr.</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(4) 01 Algodón x 50 gr.</p>
                </td>
                <td class="w25p">
                    <p>(14) 02 Vendas elastica o de Gasa 4"</p>
                </td>
                <td class="w25p">
                    <p>(4) 03 Gasas esteriles 10 x 10 (paquete)</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(5) 05 Apositos esteriles de Gasa 20 x 10</p>
                </td>
                <td class="w25p">
                    <p>(15) 10 Paletas Bajalenguas</p>
                </td>
                <td class="w25p">
                    <p>(5) 10 Bandas adhesivas o curitas</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(6) 10 Venditas (curitas)</p>
                </td>
                <td class="w25p">
                    <p>(16) 01 Tijera Punta Roma 3"</p>
                </td>
                <td class="w25p">
                    <p>(6) 01 Esparadrapo de 2.5 x 5 mts</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="w25p">
                    <p>(7) 02 Esparadrapo 5 x 5 mts.</p>
                </td>
                <td class="w25p">
                    <p>(17) 01 Cloruro de sodio 1 Lt o agua esteril</p>
                </td>
                <td class="w25p">
                    <p>(7) 02 Apositos de Gasa esteril</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(7) 02 Esparadrapo 5 x 5 mts.</p>
                </td>
                <td class="w25p">
                    <p>(17) 01 Cloruro de sodio 1 Lt o agua esteril</p>
                </td>
                <td class="w25p">
                    <p>(7) 02 Apositos de Gasa esteril</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(8) 10 gasas esteriles fraccionadas 10 x 10 </p>
                </td>
                <td class="w25p">
                    <p>(18) 05 Bolsas Ziplock 10" y 15"</p>
                </td>
                <td class="w25p">
                    <p> (8) 02 Pares de guantes quirurgicos 7 1/2</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>


            <tr>
                <td class="w25p">
                    <p>(9) Alcohol en gel 120ml</p>
                </td>
                <td class="w25p">
                    <p>(19) 02 Venda ekastica o de gasa 6"</p>
                </td>
                <td class="w25p">
                    <p> (9) 02 Venda Elástica 4 x 5 yardas</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>

            <tr>
                <td class="w25p">
                    <p>(10) 1 mascarilla de RCP - FACE SHIELD</p>
                </td>
                <td class="w25p">
                    <p>(19) 02 Venda ekastica o de gasa 6"</p>
                </td>
                <td class="w25p">
                    <p>(10) 01 Tijera punta roma (para cortar prendas)</p>
                </td>
                <td class="w25p">
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
